.UrlContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

mat-form-field {
    margin-right: 20px;
}

.UrlList {
    margin-left: 10px;
}

.folder {
    margin-left: 15px;
    margin-right: 15px;
    white-space: nowrap;
}

.active {
    color: #c2185b;
    cursor: pointer;
    
}

.UrlList {
    font-size: 140%;
    overflow-x: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 1000px) {
    .UrlContainer{
        display: block;
    }

    .UrlList {
        height: 35%;
    }

    mat-form-field {
        margin-left: 20px;
        width: calc(100% - 40px);
    }
}