.container mat-grid-list {
    height: 100%;
}

.container mat-card {
    width: 80%;
    height: calc(100vh - 160px);
    margin: 30px;
    min-height: 560px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SideTree app-file-manager-tree-view,
.ListView app-file-manager-list-view,
.UrlBar app-file-manager-url-view,
.FileView app-file-manager-file-view
{
    width: 100%;
    height: 100%;
}

@media (max-width: 1000px) {
    .container mat-card {
        width: 95%;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}