.mat-dialog-content {
    width: 500px;
    height: 500px;
}

.TreeContainer {
    height: calc(100% - 85px);
}

.mat-dialog-content mat-form-field {
    width: 100%;
    margin-top: 10px;
}

.mat-dialog-actions {
    float: right;
}

@media (max-width: 1000px) {
    .mat-dialog-content {
        width: calc(80vw - 50px);
        height: 500px;
    }
}