<div class="ListContainer" *ngIf="!IsLoading">
  <section class="DirList mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

       <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()"
                        color="primary">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)"
                        color="primary">
            </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="logo">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> 
            <div>
                <mat-icon *ngIf="element.isFile">insert_drive_file</mat-icon> 
                <mat-icon *ngIf="!element.isFile">folder</mat-icon> 
            </div>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Név </th>
        <td mat-cell *matCellDef="let element">       
            {{element.name}}
             </td>
      </ng-container>
  
      <ng-container matColumnDef="type" *ngIf="!MobileView">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Típus </th>
        <td mat-cell *matCellDef="let element"> {{IsFileToString(element)}} </td>
      </ng-container>
  
      <ng-container matColumnDef="modified" *ngIf="!MobileView">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Módosítva </th>
        <td mat-cell *matCellDef="let element"> {{LastModToString(element)}} </td>
      </ng-container>
  
      <ng-container matColumnDef="size" *ngIf="!MobileView">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Méret </th>
        <td mat-cell *matCellDef="let element"> {{element.size}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Művelet </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-icon-button aria-label="Átnevezés gomb" (click)="OnRenameButtonClick($event, element)">
            <mat-icon>drive_file_rename_outline</mat-icon>
          </button> 
          <button mat-icon-button aria-label="Megosztás gomb" (click)="OnShareButtonClick($event, element)">
            <mat-icon>share</mat-icon> 
          </button>
        </td>
      </ng-container>
  
      <div *ngIf="!MobileView">
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="TableClick(row)"></tr>
      </div>
      <div *ngIf="MobileView">
        <tr mat-header-row *matHeaderRowDef="displayedColumnsMobile; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsMobile;" (click)="TableClick(row)"></tr>
      </div>
      
    </table>
  </section>

  <div class="ButtonContainer">
    <button mat-raised-button color="primary" (click)="OnCopyButtonPressed()"><span class="DetailText" *ngIf="!MobileView">Másolás</span> <mat-icon>file_copy</mat-icon></button>
    <button mat-raised-button color="primary" (click)="OnMoveButtonPressed()"><span class="DetailText" *ngIf="!MobileView">Kivágás</span>	<mat-icon>content_cut</mat-icon></button>
    <button mat-raised-button color="primary" (click)="OnDeleteButtonPressed()"><span class="DetailText" *ngIf="!MobileView">Törlés</span><mat-icon>delete</mat-icon></button>
    <button mat-raised-button color="primary" (click)="OnUploadButtonPressed()"><span class="DetailText" *ngIf="!MobileView">Feltöltés</span><mat-icon>upload</mat-icon></button>
    <button mat-raised-button color="primary" (click)="OnZipButtonPressed()"><span class="DetailText" *ngIf="!MobileView">Letöltés (zip)</span><mat-icon>folder_zip</mat-icon></button>
    <button mat-raised-button color="primary" (click)="OnNewFolderButtonPressed()"><span class="DetailText" *ngIf="!MobileView">Új mappa</span><mat-icon>create_new_folder</mat-icon></button>
  </div>
  
</div>

<app-loading-screen *ngIf="IsLoading" [FullScreen]="false"></app-loading-screen>