table {
    width: 100%;
    white-space: nowrap;
}

.ListContainer {
    height: 100%;
}

section {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: auto;
    box-shadow: none;
    height: calc(100% - 54px);
}

.mat-column-name, .mat-column-type, .mat-column-modified, .mat-column-size, .mat-column-actions, .mat-column-logo, .mat-column-select {
    padding-left: 15px;
    padding-right: 15px;
}

.mat-column-logo, .mat-column-select {
    width: 10px;
}


.mat-row:hover .mat-cell {
    background-color: rgba(167, 167, 167, 0.432);
}

.mat-row .mat-cell {
    cursor: pointer;
}

.ButtonContainer button {
    margin-right: 15px;
}

button .DetailText {
    padding-right: 10px;
}

.ButtonContainer {
    display: flex;
    justify-content: end;
}

@media (max-width: 1000px) {
    .ListContainer button {
        min-width: 0;
        margin-right: 0;
    }

    .ButtonContainer {
        justify-content: space-around;
    }
}