.loadingBigText {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
}

.LoadingDisplay {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.FullScreen {
    height: calc(100vh - 64px);
}

.LoadingDisplay mat-spinner {
    margin-left: 130px;
}

@media (max-width: 500px) {
    .LoadingDisplay {
        flex-direction: column;
    }

    .LoadingDisplay mat-spinner {
        margin-left: 0;
        margin-top: 80px;
    }
}